<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ktu.edu.sportcompetitionplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sport competition planner"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportCompetitionPlanner">
        <activity
            android:name=".activities.TeamPreview"
            android:exported="false" />
        <activity
            android:name=".activities.ListTeams"
            android:exported="false" />
        <activity
            android:name=".activities.CreateTeam"
            android:exported="false" />
        <activity
            android:name=".activities.Base"
            android:exported="false" />
        <activity
            android:name=".activities.PlayerPreview"
            android:exported="false" />
        <activity
            android:name=".activities.ListPlayers"
            android:exported="false" />
        <activity
            android:name=".activities.CreatePlayer"
            android:exported="false" />
        <activity
            android:name=".activities.ProfilePreview"
            android:exported="true" />
        <activity
            android:name=".activities.Register"
            android:exported="true" />
        <activity
            android:name=".activities.Main"
            android:exported="true" />
        <activity
            android:name=".activities.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>